<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>eNodika - Login</title>
	<link rel="stylesheet" href="/enodika/asset/css/bp/screen.css" type="text/css" media="screen, projection">
</head>
<body>

<br/><br/>
<div id="container" style="text-align:center;border:'1px,solid,grey';">
	<div class="box"">
	<img src="/enodika/asset/images/logo/company_banner.jpg"/>
	<h2>eNodika</h2>
	
	Anda telah logout. <a href="/enodika/">Login kembali</a>
</div>


</body>
</html>

